@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Hello, Azure!</h2>
<h4>Registered users:</h4>
@if (Model.User != null)
{
    @foreach (var u in Model.Users)
    {
        <p>@u.Email</p>
    }
}

